<section class='component component-da-cta'>
  <div class='row'>
    <div class='col-12'>
      <div class='component-da-cta__wrapper'>
        <div class='component-da-cta__worktype'>
          <h2 class='display-4 field-name'><i
              class='fas fa-{{this.icon}}'
            ></i>{{this.worktype}}</h2>
        </div>
        <div class='component-da-cta__title'>
          <h3 class='field-promosectiontitle'>{{this.title}}</h3>
        </div>
        <div class='component-da-cta__short-description'>
          <p class='field-promomultilineheadline'>{{this.content}}</p>
        </div>
        <div class='component-da-cta__link'>
          <a href='{{this.link.url}}'>learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>