<div class='component page-list hi-page-list col-12'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <ul class='items'>
          {{#each this.items}}
            {{#if this.link}}
              <li class='item'>
                <div class='component-link-list__content'><a
                    href='{{this.link.url}}'
                  >{{this.link.text}} <i class="fas fa-arrow-right"></i></a></div>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>