<div class="wide-list">
  <div class="row">
    <div class="col-12">
      <ul>
        {{#each this.items}}
        <li><a href="{{ this.url }}">{{ this.text }} <i class="fas fa-arrow-right"></i></a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
