<section class='component card'>
 <div class="container">
  <div class='row'>
  {{#if this.img}}
    <div class='col-12 col-sm-3 case-study-small--image'>
     <img src='{{this.img.src}}' alt='{{this.img.alt}}' />
  {{/if}}
    </div>
    <div class='col-12 col-sm-9 case-study-small--content'>
     <div class='case-study-small--content-title-desc'>
     {{#if this.title}}
       <h2 class='title field-title'>{{ this.title }}</h2>
     {{/if}}
     {{#if this.content}}
        <p class='description field-description'>{{ this.content }}</p>
        <div class='case-study-small--cta field-cta'>
        {{/if}}
        {{#if this.link}}
        <a class="btn-cta-text with-underline" href='{{this.link.src}}' alt='{{this.link.alt}}'>{{this.link.text}}<i class="fas fa-arrow-right"></i></a>
        {{/if}}
     </div>
    </div>
   </div>
  </div>
 </div>
</section>