<section class="col-single {{ this.class }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{#if this.title }}
          <h2 class="section-title display-1">{{ this.title }}</h2>
        {{/if}}
        {{#each content}}
          {{>(lookup . 'template')}}
        {{/each}}
      </div>
    </div>
  </div>
</section>
