<section class="section-banner {{ this.class }}">
  <div class="container container-wide"{{#if this.img }} style="background-image:url({{this.img.src}});{{ this.style }}"{{/if}}>

    <div class="container">
      <div class="row align-items-center">
        {{#if this.featureimg }}
        <div class="col-12 col-md-4 order-md-2">
          <div class="content-rte">
            <img src="{{ this.featureimg.src }}" alt="{{ this.featureimg.alt }}" class="img-fluid">
          </div>
        </div>
        {{/if}}
        <div class="col-12 {{ this.col }}">
          {{#if this.headline }}
          <div class="banner-headline">
            {{#if this.headline.super }}
              <div class="display-super">{{ this.headline.super }}</div>
            {{/if}}
            {{#if this.headline.title }}
              <h2 class="{{ this.headline.size }}">{{ this.headline.title }}</h2>
            {{/if}}
          </div>
          {{/if}}
          {{#each content}}
            {{>(lookup . 'template')}}
          {{/each}}
        </div>
      </div>
    </div>

  </div>
</section>
