<section class="section-logos {{ this.class }}">

  <div class="container">

    <div class="clearfix">
      <h2 class="section-title display-2 logo-headline">{{ this.text }}</h2>
      <div class="logo-filters">
        <ul class="list-inline">
          {{#each this.filters}}
          <li class="list-inline-item"><a class="with-underline" href="#filter={{ this.tag }}" data-filter="{{ this.tag }}">{{ this.text }}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="row logo-grid">
      {{#each this.items}}

      <div class="col-6 col-md-3 grid-item" data-tags="{{ this.tags }}">
        <img class="img-fluid lazy-img" data-src="{{ this.src }}" alt="{{ this.alt }}">
      </div>

      {{/each}}
    </div>

  </div>

</section>
