<section class="quote-carousel {{ this.class }}">
  <div class="container container-wide">

      {{#if this.slides }}
      <div class="carousel">
        {{#each this.slides}}
        <div class="slide">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="quote">
                  <blockquote class="{{ this.size }}">{{{ this.quote }}}</blockquote>
                  <cite>{{ this.cite }}</cite>
                </div>
              </div>
              {{#if this.img }}
              <div class="col-12 col-md-4 d-sm-none d-md-block">
                <div class="quote-image">
                  <img data-lazy="{{ this.img.src }}" alt="{{ this.img.alt }}">
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}

  </div>
</section>
