<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <a href="https://www.horizontaldigital.com/" class="footer-logo"><img alt="Horizontal Digital" src="https://hztl-fed.azureedge.net/hztl/images/H-Bug.png" width="59" height="38"/></a>
      </div>
      <div class="col-12 col-md-3">
        <ul class="site-links list-unstyled">
          {{#each this.sitelinks ~}}
            <li><a href="{{ this.url}}">{{this.title}}</a></li>
          {{~/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 order-md-2">
        {{#each this.sociallinks ~}}
          <a href="{{ this.url}}" title="{{ this.title }}" class="footer-social-link fab {{ this.fa }}"><span class="sr-only">{{this.title}}</span></a>
        {{~/each}}
      </div>
      <div class="col-12 col-md-9 order-md-1">
        <small>&copy; Horizontal Digital, 2021</small>
      </div>
    </div>
  </div>
  <div class="footer-cta-banner theme-teal">
    <span>Need a staffing solution? </span><span><strong>Visit our sister company </strong></span><span><a href="https://www.horizontaltalent.com/"><strong>Horizontal Talent</strong></a></span>
  </div>
</footer>
