.section-banner {
  .container-wide {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container > .container {
  }
  .banner-headline {
    padding-top: 60px;
  }
  .content-rte {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-banner.theme-dark,
.section-banner.theme-gray,
.section-banner.theme-teal,
.section-banner.theme-peach {
  padding: 0 !important;
}

.no-top-padding {
  padding-top: 0;
}

@media (min-width: 768px) {
  .section-banner {
    .container > .container {
    }
    .banner-headline {
      padding-top: 120px;
    }
    .content-rte {
      padding-top: 120px;
      padding-bottom: 120px;
      .text-reveal--bg-seafoam {
        background-image: linear-gradient(to right, $hztl-teal 0, $hztl-teal 100%);
      }
    }
  }
}
