blockquote {
  font-family: $hztl-font-black;
  margin-bottom: 1.5rem;
  ::before {
    content:"“";
    display: block;
    font-size: 10rem;
    height: 6rem;
  }
}

blockquote > p {
  line-height: 1.1;
}

cite {
  display: block;
  font-family: $hztl-font-bold;
  font-style: normal;
  font-size: 1.6rem;
  position: relative;
  padding-left: 150px;
}

cite::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  height: 4px;
  background: $hztl-dark;
  width: 140px;
}

.big-quote-img {
  margin-top:60px;
}

.theme-dark,
.theme-gray {
  cite::before {
    background: $hztl-lite;
  }
}
