.cta-floating {
  position: fixed;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: $hztl-anim;

  &.show {
    opacity: 1;
  }

  .btn-cta {
    font-family: $hztl-font-black;
    text-decoration: none;
    display: block;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    float: right;
    padding: 10px 20px 8px;
  }
}
