.hztl-form {

  .errors {
    font-family: $hztl-font-black;
    color: $hztl-error;
  }

  .hztl-form-row {
    margin-bottom: 25px;
  }
  .hztl-form-text-label {
    height: 30px;
    color: $hztl-lite;
    font-size: 18px;
    font-family: $hztl-font-black;
  }
  .hztl-form-text-input-container {
    margin-top:-36px;
    input {
      height: 35px;
      width: 100%;
      padding-top: 1px;
      padding-bottom: 15px;
      border: none;
      border-bottom: 5px solid $hztl-lite;
      background: transparent;
      color: $hztl-lite;
      font-size: 18px;
      font-family: $hztl-font-black;
    }
  }
  .hztl-form-text-input {
    height: 35px;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 15px;
    border: none;
    border-bottom: 5px solid $hztl-lite;
    background: transparent;
    color: $hztl-lite;
    font-size: 18px;
    font-family: $hztl-font-black;
  }
  input:focus {
    outline: none;
  }
  .hztl-form-row.error {
    .hztl-form-text-label {
      color: $hztl-error;
    }
    .hztl-form-text-input-container {
      input {
        border-bottom: 5px solid $hztl-error;
        color: $hztl-error;
      }
    }
    .hztl-form-text-input {
      border-bottom: 5px solid $hztl-error;
      color: $hztl-error;
    }
  }
}
