.hztl-sessions {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hztl-session {
  border-top: solid 2px $hztl-dark;
  padding:22px 0;
}

.hztl-session:last-child {
  border-bottom: solid 2px $hztl-dark;
}

.hztl-session-date {
  background-color: $hztl-lt-g;
  padding: 20px;
  font-family: $hztl-font-black;
  font-size:24px;
  line-height: 1;

  > span {
    display: block;
  }

  .hztl-session-time {
    font-size: 14px;
    margin-top: .2em;
    font-family: $hztl-font-bold;
  }
}

.hztl-session-headline {
  font-size:35px;
  line-height: 1;
}

.btn-hztl-session {
  background-color: $hztl-dark;
  color: $hztl-lite !important;
  border-radius: 0;
  width: 100%;
  font-family: $hztl-font-black;
  font-size:14px;
  line-height: 2.2;
  margin-bottom: 0;

  &:before {
    content: "+ ";
  }

  &:hover {
    background-color: $hztl-base;
  }
}

.hztl-session-speaker {
  background-color: $hztl-lt-g;
}

.hztl-speaker-title {
  margin: 0 0 5px;
}

.hztl-session-speaker:hover .with-underline:before,
.hztl-speaker:hover .with-underline:before {
  width: calc(100% - 22px);
}

.hztl-speaker {
  padding:15px 20px;
  margin:10px 0;

  &-name {
    font-family: $hztl-font-black;
    font-size:18px;
    line-height: 1.1;
  }
  &-title {

  }
  &-img {
    float:right;
    width:100px;
  }
}

.add-to-calendar {

  margin-bottom: 20px;

  > span {
    display:none;
  }

  &-dropdown {

    display: none;

    font-size:16px;
    padding:15px;
    border:1px solid $hztl-dark;

    > a {
      display:block;
    }
  }
}


@media (min-width: 768px) {
  .hztl-sessions {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
