footer {

  font-family: $hztl-font-bold;
  background-color: $hztl-base;
  padding: 10px 0 0;
  color: $hztl-lite;

  a {
    font-family: $hztl-font-black;
    color: $hztl-lite !important;
  }
  a:hover {
    text-decoration: none !important;
    color: $hztl-lite !important;
  }
  .footer-logo {
    display: inline-block;
    margin: 15px 0;
  }
  .site-links {
    a {
      display: inline-block;
      padding: 15px 0 2px;
      text-decoration: none;
    }
  }

  a.footer-social-link {
    padding: 0 18px 0 0;
    text-decoration: none;
  }

  .footer-cta-banner {
    font-size: 20px;
    padding: 10px 20px;
    margin:15px 0 0;

    p {
      margin: 0;
    }
    strong {
      font-family: $hztl-font-black;
    }
    a {
      color: $hztl-dark !important;
      text-decoration: underline;
    }
    a:hover {
      text-decoration: underline !important;
    }
    > span {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  footer {
    .footer-cta-banner {
      text-align: center;
      > span {
        display: inline;
      }
    }
  }
}
