html {
  font-size: 62.5%;
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(#000, 0); // 6
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  background-color: $hztl-base;
}

body {
  min-height: 100vh;
  padding: 0.1px 0;
}

.page-container {
  margin-top: 96px;
}

.no-header {
  .page-container {
    margin-top: 0;
  }
}

.container {
  max-width: 990px;
}

.container-wide {
  max-width: 1270px;
  max-width: 1440px;
}

.container.container-wide {
  padding-right: 0;
  padding-left: 0;
}

section {
  margin: 200px 0;
}

section.theme-dark,
section.theme-gray,
section.theme-teal,
section.theme-peach {
  padding: 100px 0;
  margin: 0;
}

.page-container section:first-child {
  margin-top: 0;
}

section.flush-bottom-margin {
  margin-bottom: 0;
}

section.flush-bottom-margin + section {
  margin-top: 0;
  .component {
    margin-top: 0;
  }
}

section.collapse-bottom-margin {
  margin-bottom: 20px;
}

section.collapse-bottom-margin + section {
  margin-top: 20px;
}

section.medium-bottom-margin {
  margin-bottom: 60px;
}

section.medium-bottom-margin:first-child {
  padding: 60px 0;
}

section.medium-bottom-margin + section {
  margin-top: 60px;
}

section.medium-bottom-margin + section.theme-dark,
section.medium-bottom-margin + section.theme-gray,
section.medium-bottom-margin + section.theme-teal,
section.medium-bottom-margin + section.theme-peach,
section.flush-bottom-margin + section.theme-dark,
section.flush-bottom-margin + section.theme-gray,
section.flush-bottom-margin + section.theme-teal,
section.flush-bottom-margin + section.theme-peach {
  padding: 60px 0;
}

section.force-top-margin {
  margin-top: 100px !important;
}

@media (min-width: 768px) {
  section {
    margin: 200px 0;
  }

  section.theme-dark,
  section.theme-gray,
  section.theme-teal,
  section.theme-peach {
    padding: 200px 0;
    margin: 0;
  }

  .page-container section:first-child {
    margin-top: 0;
  }

  section.collapse-bottom-margin {
    margin-bottom: 40px;
  }

  section.collapse-bottom-margin + section {
    margin-top: 40px;
  }

  section.medium-bottom-margin {
    margin-bottom: 120px;
  }

  section.medium-bottom-margin:first-child {
    padding: 120px 0;
  }

  section.medium-bottom-margin + section {
    margin-top: 120px;
  }

  section.medium-bottom-margin + section.theme-dark,
  section.medium-bottom-margin + section.theme-gray,
  section.medium-bottom-margin + section.theme-teal,
  section.medium-bottom-margin + section.theme-peach,
  section.flush-bottom-margin + section.theme-dark,
  section.flush-bottom-margin + section.theme-gray,
  section.flush-bottom-margin + section.theme-teal,
  section.flush-bottom-margin + section.theme-peach {
    padding: 120px 0;
  }

  section.force-top-margin {
    margin-top: 200px !important;
  }
}

.field-h3headline {
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 1rem;
    top: 9.4rem;
    height: 1rem;
    width: 6rem;
    background: $hztl-lite;
  }
}

@media (min-width: 415px) {
  .field-h3headline {
    &::before {
      top: 14.4rem;
    }
  }
}
