$hztl-base: #393738;
$hztl-dark: #2f2d2e;
$hztl-gray: #787779;
$hztl-lp-gray: #515151;
$hztl-lite: #fff;
$hztl-stone: #ebe7de;
$hztl-teal: #7fc3ba;
$hztl-peach: #f9aa97;
$hztl-error: #d55a60;

$hztl-font-regular: "ModernEra-Regular";
$hztl-font-bold: "ModernEra-Bold";
$hztl-font-black: "ModernEra-Black";

$hztl-anim: all 0.2s 0s ease-in-out;

$body-bg: $hztl-lite;
$body-color: $hztl-dark;
$link-color: $hztl-dark;
$link-hover-color: $hztl-dark;

$hztl-lt-hover: #cfcdc8;
$hztl-lt-g: #f9f9f9;
$hztl-mid-g: #a6a5a7;
